# Local .terraform directories
.terraform/

# .tfstate files (Contains secrets and infrastructure state)
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

*.csv

# Block local secret variable inputs
terraform.tfvars